#footer{    
    background: #000000;
    position:absolute;
    margin-bottom:0; 
    width:100%;
    max-height: 170px;
    display: grid;
    justify-content: center;
    grid-template-columns: 32% 32% 32%;
    align-items: center;
}

.map-adress {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}

.map-adress iframe {
    display: block;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 12%;
    padding-right: 12%;
    justify-content: center;
    width: 80%;
}

.contato {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    text-align: center;
}

.contato h1 {
    font-size: 25px;
    color: #ffffff;
}

.contato h2, h3 {
    font-size: 12px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.redes-sociais {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 30%;
    padding-right: 30%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.redes-sociais h1 {
    color: #ffffff;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.redes-sociais img {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-top: 3px;
    margin-left: 3%;
}

.icones {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    text-align: center;
}

@media (max-width: 400px) {
    .map-adress {
        margin-top: auto;
        margin-bottom: auto;
        padding: 0;
    }
    
    .map-adress iframe {
        width: 110px;
        height: 75px;
    }

    .contato {
        margin-top: auto;
        margin-bottom: auto;
        padding: 0;
        text-align: center;
    }
    
    .contato h1 {
        font-size: 60%;
        color: #ffffff;
    }
    
    .contato h2, h3 {
        font-size: 40%;
        align-items: center;
        justify-content: center;
        color: #ffffff;
    }
    
    .redes-sociais {
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 30%;
        padding-right: 30%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .redes-sociais h1 {
        color: #ffffff;
        font-size: 55%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .icones img {
        display: inline-block;
        width: 30px;
        height: 30px;
    }
}