/* Gerais */
body {
    font-family: 'Montserrat', sans-serif;
}

/* BARRA DE NAVEGAÇAO */
.navbar {
    background-color: #1496d2;
}

#logo {
    width: 100px;
}

/* .search-bar {
    width: 20% !important;
}  */

.nav-link {
    color: black !important;
    font-size: 18px;
    /* margin-left: 0px; */
    margin-right: 50px;
}

.nav-link:hover {
    color: rgb(33, 99, 173) !important;
}